body {
  background-color: lightblue;
}
header {
  text-align: center;
}
header h1 {
  font-size: 50px;
  color: darkblue;
  font-family: fantasy;
}
header p {
  line-height: 0.5;
}
.profile {
  float: left;
  width: 200px;
  height: 550px;
  margin: 20px;
  padding: 10px 15px;
  border: 2px solid;
  border-radius: 5px;
  overflow: hidden;
}
.profile img {
  width: 200px;
  height: 113px;
  border-radius: 5px;
}
.name {
  font-size: 20px;
}
.footer {
  clear: both;
  font-style: italic;
  text-align: center;
}
@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: pink;
  }
}
@media screen and (max-width: 480px) and (min-width: 300px) {
  body {
    background-color: lightblue;
  }
}
