header {
  text-align: center;
}


header h1 {
  font-size: 50px;
  color: darkblue;
  font-family: fantasy;
}

header p {
  line-height: 0.5;
}

.profile img {
  width: 200px;
  height: 113px;
  border-radius: 5px;
}

.footer {
  clear: both;
  font-style: italic;
  text-align: center;
}
.profile {
  float: left;
  width: 200px;
  height: 550px;
  margin: 20px;
  padding: 10px 15px;
  border: 2px solid;
  border-radius: 5px;
  overflow: hidden;
}
